<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClubDeportivo"
        tools:targetApi="31">
        <activity
            android:name=".carnetSocio"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LoginError"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".SocioRegistradoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".nuevoEmpleado1"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".PagoExitosoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".nuevoEmpleado2"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".vencimientosCuota"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".dashboard"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".NuevoSocio"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".IngresarPagoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SocioExistente"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ActividadesActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>